# 虚拟环境
venv/
env/
.venv/

# 密钥与本地配置
.env
.local/

# Python缓存
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# 日志文件
logs/
*.log

# IDE配置
.vscode/
.idea/
.claude/

# 测试数据、临时文件
data/
tmp/
data/**/*.txt
data/**/*.pdf
data/**/*.docx

# 单元测试配套数据文件
tests/test_files/

# 向量库持久化数据
data/
*.chroma/